@import '../../variables';
nav{
    display: flex;
    grid-area: nav;
    position: sticky;
    top: 0.6em;
    
    menu{
        margin: 0 0.4em;
        padding: 0 $x-pad;

        &:first-child{
            flex-grow: 1;
            margin-left: 0;
        }
        
        &:last-child{
            margin-right: 0;
        }

        ul{
            align-items: center;
            display: flex;
            max-height: 3.6em;
            list-style: none;
            padding: 0;

            li{
                flex-shrink: 1;
                height: auto;
                padding: 0 $x-pad;

                &:first-child{
                    flex-grow: 1;
                    padding: 0;
                }

                img{
                    margin-top: 0.3em;
                    width: 7.8em;
                }

                a{
                    font-size: 2em;
                }
            }
        }
    }
}