@import '../../variables';
aside{
    color: $black;
    grid-area: aside;
    width: 27em;
    padding: $y-pad $x-pad;

    ul{
        list-style: none;

        li{
            font-size: $h6-size;
            a{
                text-transform: lowercase;
            }

            &::before{
                content: "- ";
            }
        }
    }

    .aside-input-box{
        display: flex;

        .big-text{
            font-size: $h1-size * 5;
            line-height: 0.9em;
        }

        & > div{
            display: flex;
            flex-direction: column;
            font-size: $h6-size;
            justify-content: center;

            .or{
                display: block;
                font-size: 0.8em;
            }

            div{
                display: flex;

                input{
                    background-color: $white;
                    border: 0px solid #F0F0F0;
                    border-radius: 0.2em;
                    box-shadow: inset 0px 0px 5px rgba(36,36,36,0.2);
                    font-size: 0.7em;
                    margin-left: 4px;
                    padding: 0.6em;
                    height: 1.9em;
                    width: 10em;
                }
            }
        }
    }
}