@import '../../variables';
main{
    grid-area: nav;

    section{
        padding: $y-pad $x-pad;
        margin: 1em auto;

        &:first-child{
            margin-top: 0;
        }

        &:last-child{
            margin-bottom: 0;
        }

        &.highlight{
            background-color: $red;
        }
    }
}