@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600&display=swap');
@import 'variables';
body{
    background-color: $white;
    box-sizing: border-box;
    font-size: $em-size;
    padding: 0.2em;

    & #root{
        display: grid;
        grid-gap: 1em;
        grid-template-areas: "header header"
                            "nav nav"
                            "main aside"
                            "footer footer";
        // grid-auto-rows: none;
        align-items: flex-start;
        margin: 0 auto;
        max-width: 78em;
    }
}

*{
    box-sizing: border-box;
    min-height: 2px;
}

*,
body,
input,
button{
    font-family: 'Source Serif Pro', 'Sawarabi Gothic', serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a{
    color: $black;
    margin: 0;
    margin-bottom: $em-size * 1.5;
}

a{
    text-decoration: none;
    text-transform: capitalize;

    &:hover{
        text-decoration: underline;
    }
}

h1{
    font-size: $h1-size;
}

h2{
    font-size: $h2-size;
}

h3{
    font-size: $h3-size;
}

h4{
    font-size: $h4-size;
}

h5{
    font-size: $h5-size;
}

h6,p {
    font-size: $h6-size;
}

main{
    grid-area: main;
}

.border-and-shadow{
    background-color: $white;
    border: 3px solid $black;
    box-shadow: rgb(194, 194, 194) 6px 4px 0px;
    box-shadow: darken($white, 18) 6px 4px 0px;
}

ul{
    padding: 0;
}