$white: #F0F0F0;
$red: #DD6D6E;
$blue: #5672D1;
$black: #242424;
$yellow: #f9e586;

$x-pad: 1.5em;
$y-pad: 1.0em;

$em-size: 10px;

$h1-size: 2.8em;
$h2-size: 2.6em;
$h3-size: 2.4em;
$h4-size: 2.2em;
$h5-size: 2.1em;
$h6-size: 1.9em;

:export {
    content:"{
        themes: {
            normal: { bg: \""+$white+"\", highlight: \""+$red+"\" },
            solarize: { bg: \""+$yellow+"\", highlight: \""+$red+"\" },
            dark: { bg: \""+$black+"\", highlight: \""+$blue+"\" },
            marker: { bg: \""+$white+"\", highlight: \""+$yellow+"\" },
        }
    }",
  }